.login-container {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #272727;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
}

.website-logo {
  height: 22px;
  width: 85px;
  margin-bottom: 10px;
}

.label {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 500;
  font-size: 12px;
}
.input-box {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border-color: #b6c5ff;
  border-width: 1px;
  margin-top: 5px;
  height: 35px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.logo-box {
  text-align: center;
}
.input-container {
  margin-bottom: 25px;
}

.login-btn {
  background-color: #6366f1;
  height: 35px;
  color: white;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form-container {
    max-width: 500px;
  }
  .website-logo {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
  }
  .input-box {
    height: 45px;
  }
  .input-container {
    margin-bottom: 30px;
  }
  .login-btn {
    height: 40px;
  }
}
.error-msg {
  font-family: 'Roboto';
  color: red;
  font-size: 14px;
}
